include synda/requirements.txt

include synda/doc/*
include synda/doc/LICENSE
global-exclude .*swp

recursive-exclude synda/data_package *
recursive-include synda/resources *
recursive-include synda/tests/resources *
recursive-include synda/tests/tests/data *
include synda/tests/pytest.ini

include synda/changelog
include synda/README.md
