
setuptools
pyOpenSSL
myproxyclient
psutil
humanize
#lxml
tabulate
progress
pycountry
python-jsonrpc

python-daemon

retrying
requests
beautifulsoup4
texttable

# latest pillow version breaks test
pillow

reportlab
pytest
