include requirements.txt
recursive-include selection *
recursive-include conf *
include conf/*
include bin/*
include db/*
include log/*
include tmp/*
include doc/*
include doc/LICENSE
global-exclude .*swp
include data_package/data.tar.gz