include requirements.txt
recursive-include selection *
recursive-include conf *
include bin/*
include db
include log
include tmp
include tools/*
include doc
include data
include doc/LICENSE
global-exclude .*swp
