pyOpenSSL

# TODO: see install.sh
#https://github.com/pyca/pyopenssl/tarball/master

# beware: in install.sh, myproxyclient is installed using a specific version and patched
myproxyclient

psutil
humanize
lxml==3.3.5
tabulate
progress
pycountry
python-jsonrpc
python-daemon==1.6.1
retrying
